[global]
include_dirs = /net/local/software/$OS_ARCH/include

# The libraries you need to link against to get BLAS + LAPACK
[blas]
# lapack_libs = blas,lapack
lapack_libs = goto2

# The path to the photonics source (run make first)
[photonics]
path=/net/user/$USER/software/$OS_ARCH/photonics
